@media only screen and (min-width: 320px) and (max-width: 768px) {
    header .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .col-xl-9{
        display: none;
    }
    .text-img{
        min-width: 280px;
    }
    .logo{
        min-width: 80px;
        max-width: 150px;
    }
    .text-bg h1{
        font-size: 40px;
        padding-top: 30px;
    }
    .banner_main{
        margin-top: 50px;
    }
    .text-bg{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .text-img{
        max-width: 500px;
    }
    .logo{
        width: 150px;
    }
    .text-bg h1{
        font-size: 50px;
        padding-top: 30px;
    }
}

