.nav-container{
    nav{
        .logo-nav{
            img{
                width: 35vw;
            }
        }
        .menu{
            ul{
                li{
                    a{
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }
}


main{
    .hero{
        .hero-title{
            div{
                h1{
                    font-size: 5.5rem;
                }
                h2{
                    font-size: 3.5rem;
                }
            }
        }
        .hero-image{
            img{
                width: 70vw;
            }
        }
    }

    .catalogue{
        .catalogue-image{
            img{
                width: 70vw;
            }
        }
    }

    .about-us{
        .about-us-img{
            display: flex;
            justify-content: center;
            img{
                width: 80vw;
                border-radius: 8px;
            }
        }
    }

    .contact{
        .contact-image{
            img{
                width: 80vw;
                border-radius: 8px;
            }
        }
        .contact-title{
            h2{
                padding-top: 30px;
            }
            p{
                padding: 20px 30px;
            }
            a{
                button{
                    width: 300px;
                    height: 60px;
                }
            }
        }
    }
}


footer{
    .logo-footer{
        img{
            width: 20vw;
        }
    }
}